.canvas
{
  position: relative;
} 

.box
{
  border: 1px solid gray;
  float: left;
  width: 2%;
  padding-bottom: 2%;
}

.colors
{
  display: block;
  margin: auto;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 50px;
}

.color
{
  width: 10%;
  float: left;
  padding-bottom: 10%;
  border-radius: 50%;
}

.clear
{
  display: block;
  cursor: pointer;
  margin: auto;
  clear: both;
  position: relative;
  top: 60px;
}
